<body>
<div class="flash-message"><%= flash[:notice] %></div>

<h2>Books</h2>

<table>
<tr>
  <th>Title</th>
  <th>Body</th>
  <th></th>
</tr>

<% @books.each do |index| %>
  <tr>
    <td><%= index.title %> </td>
    <td> <%= index.body %> </td>
    <td>
        <%= link_to 'Show', book_path(index.id) %>
        <%= link_to 'Edit', edit_book_path(index.id) %>
        <%= link_to 'Destroy', book_path(index.id), method: :delete, "data-confirm" => "Are you sure?" %>
    </td>
  </tr>
<% end %>
</tr>
</table>

<%= render 'new' %>

</body>